<!DOCTYPE html>
<html>
        <head>
                <title>Coupons Web-App</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "../views/css/bootstrap.min.css" rel = "stylesheet">
                <link href = "../views/css/styles.css" rel = "stylesheet">
        </head>
        <body>
 
                <div class = "navbar navbar-inverse navbar-static-top">
                        <div class = "container">
                               
                                <a href = "#" class = "navbar-brand">Admin Panel</a>
                               
                                <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                                        <span class = "icon-bar"></span>
                                        <span class = "icon-bar"></span>
                                        <span class = "icon-bar"></span>
                                </button>
                               
                                <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                                        <ul class = "nav navbar-nav navbar-right">
                                       
                                      			 <li><a href="../views/adminPanel.jsp">Panel</a></li>
                                                <li ><a href="../views/addCoupon.html">Add coupon</a></li>
												<li class="active"><a href="../views/addBusiness.html">Add business</a></li>
												<li ><a href="../controller/businesses">Businesses</a></li>
												<li><a href="../controller/expiredCoupons">Expired coupons</a></li>
												<li><a href="../controller/logout">logout</a></li>
                                       
                                        </ul>
                               
                                </div>
                               
                        </div>
                </div>
<div class="container"><h2>Add a business <small>Create a new busineess </small></h2></div>

		<table class="table table-responsive">
		<form action="../controller/addBusiness" method="get">
			<tr><td>Business name:</td><td> <input type=text name="businessName" required><br></td></tr>
			<tr><td>location [Length]:</td><td> <input type=text name="length" required><br></td></tr>
			<tr><td>location [Width]:</td><td> <input type=text name="width" required><br></td></tr>
			<tr><td><button type="submit" class="btn btn-success btn-sm">Create!</button></td></tr>
		</form>
        </table>


                <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script src = "../views/js/bootstrap.js"></script>
               
        </body>
</html>