
<!DOCTYPE html>
<html lang="en">
<head>
<title>Add Business</title>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="../views/styles/style.css" />

</head>

<body class="page">
<div id="wrap">
  <div id="header"> 
   
    <div id="nav">
      <ul class="menu">
      <li><a href="../views/adminPanel.jsp">Panel</a></li>
        <li><a href="../views/addCoupon.html">Add coupon</a></li>
        <li><a href="../views/addBusiness.html">Add business</a></li>
        <li><a href="../controller/businesses">Businesses</a></li>
        <li><a href="../controller/expiredCoupons">Expired coupons</a></li>
         <li><a href="../controller/logout">logout</a></li>
      </ul>
    </div>
    <!--end nav-->

  </div>
  <!--end header-->

    <div id="porfolio-content">
      
		<h3>Add business:</h3><br>
		<table>
		<form action="../controller/addBusiness" method="get">
			<tr><td>Business name:</td><td> <input type=text name="businessName" required><br></td></tr>
			<tr><td>location [Length]:</td><td> <input type=text name="length" required><br></td></tr>
			<tr><td>location [Width]:</td><td> <input type=text name="width" required><br></td></tr>
			<tr><td><input type=submit></td></tr>
		</form>
        </table>
    </div>
</div>
<!--end wrap-->
</html>