<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Add new Coupon</title>
</head>
<body>
<h3>Add Coupon..</h3><br>
<form action="../controller/addCoupon" method="get">
Image: <input type=text name="image"><br>
Business Id: <input type=text name="businessId"><br>
Description: <textarea name="description"></textarea> <br>
Expire date: <input type="date" name="expDate"><br>
Category: <select name="category">
		  <option value="sports">Sports</option>
		  <option value="toys">Toys</option>
		  <option value="restaurants">Restaurants</option>
		  <option value="tickets">Tickets</option>
		</select>
<input type=submit>
</form>
</body>
</html>